@charset "utf-8";
/* CSS Document */
img  {
	max-width: 100%;
}
.slider_wrap {
	position: relative;
   

}
.thumbnail_slider_area {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 50;
    background-image: url("film_reel.png");
    background-repeat: repeat-x;
    background-size: contain;
	padding-top: 25px;
    padding-bottom: 25px;
	margin-bottom: 25px;
}
.thumbnail_slider img {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 12px solid black;
    border-right: 13px solid black;  	
}